<h1>Editing Weigh In</h1>

<%= render 'form' %>

<button class="btn">
<%= link_to 'Show', @weigh_in %>
</button>

<button class="btn">
<%= link_to 'All Entries', weigh_ins_path(@weigh_in, user_id: @user_id) %>
</button>

<button class="btn">
  <%= link_to 'Home', dashboard_index_path(user_id: @user_id) %>
</button>
