<h1 class="title">New Weigh In</h1>

<%= render 'form' %>

<button class="btn">
  <%= link_to 'Home', root_path %>
</button>

<button class="btn">
  <%= link_to 'All Entries', weigh_ins_path %>
</button>
