// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#important{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.information{
  text-align: center;
}

.dash{
  text-align: center;
  font-size: 26px;
  display: inline-block;
  border: 2px solid #8c4646;
  padding: 20px;
  width: 22%;
  height: 200px;
  margin: 20px;
}

.number{
  color: #8c4646;
  font-size: 30px;

}

.in-dash{
  font-size: 20px;
}

.btn{
  margin-top: 30px;
}
