// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  display: block;
  font-size: 30px;
  padding: 5px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

.dash{
  font-size: 20px;
  display: inline-block;
  border: 2px solid black;
}
