<h1>Editing Pedometer Reading</h1>

<%= render 'form' %>

<button class="btn">
<%= link_to 'Show', @pedometer_reading %>
</button>

<button class="btn">
<%= link_to 'All Entries', pedometer_reading_path(user_id: @user_id) %>
</button>

<button class="btn">
  <%= link_to 'Home', root_path(user_id: @user_id) %>
</button>
