<h1>Editing Pedometer Reading</h1>

<%= render 'form' %>

<%= link_to 'Show', @pedometer_reading %> |
<%= link_to 'All Entries', pedometer_reading_path(user_id: @user_id) %>
<%= link_to 'Home', root_path(user_id: @user_id) %>
