<h1>Editing Exercise Entry</h1>

<%= render 'form' %>

<button class="btn">
  <%= link_to 'Show', @exercise %>
</button>

<button class="btn">
  <%= link_to 'Back', exercises_path(user_id: @exercise.user_id) %>
</button>
